#cabinet {
  & .lays-cabinet-prizes {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    & .lays-cabinet-prizes-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: 300px;
    }
  }
}
